@import '_variable';

body {
  background-color: $background-color;
  color: $font-color;
  margin: 0;
}

.container{
  display: inline;
  height:100%;
  width: 100%;
  .side-panel{
    background-color: #55a8fd;
    border: 1px solid #000000;
    float:left;
    height:100%;
    width: 10%;
    .form-input{
      padding-bottom: 100px;
      padding-top: 100px;

      button{
        background-color: #ffffff;
        border: none;
        color:#000000;
        height: 30px;
        margin-top: 5px;
        width:100%;
      }
    }
  }

  .content{
    border: 1px solid #55a8fd;
    float:left;
    height:100%;
    width: 50%;
    // display: inline;
    .form-fields{
      margin-top: 10px;
      margin-left: 50px;
      textarea{
        vertical-align: top;
      }
      label{
        margin-right: 10px;
      }
      button{
        background-color: #55a8fd;
        border: none;
        color:#ffffff;
        margin-left: 8px;
      }
    }
    .btn-submit{
      text-align: right;
      button{
        background-color: #525874;
        border:none;
        color:#ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        margin: 20px 20px;
      }
    }
    .content-heading{
      border-bottom: 1px solid #000;
      font-style: italic;
      font-weight: 700;
      padding:10px 10px;
      text-align: center;
    }
  }
  .result{
    float:left;
    height:100%;
    width: 50%;
    padding:10px 10px;
    text-align: center;
    .result-heading{
      border-bottom: 1px solid #000;
      font-style: italic;
      font-weight: 700;
      padding:10px 10px;
    }
  }

}

.modal {
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
    .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        margin: 15% auto; /* 15% from the top and centered */
        // padding: 20px;
        text-align: center;
        width: 40%; /* Could be more or less, depending on screen size */
        .model-form-fields{
          margin-top: 10px;
          label{
            display: inline-block;;
            margin-right: 20px;
            text-align: left;
            width: 150px;
          }
          input{
            // float: right;
          }
        }
        button{
          background-color: #55a8fd;
          border:none;
          color:#ffffff;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 10px 10px

        }
        .modal-Heading{
          background-color: #3a3d62;
          color:#fff;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 20;
          font-weight: 700;
        }
    }
}
